body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #ffffff;
  color: #333333; /* Cor do texto */
  padding: 20px;
}

header, footer {
  text-align: center;
}
header {
  padding: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
}
header h1 {
  text-align: center;
  padding: 1px;
  margin: 5;
  font-size: 2em;
  color: #047a0c;
}
header h2 {
  margin: 0;
  font-size: 1.5em;
  color: #388e3c;
}

h1, h2 {  
  color: #1b5e20; /* Cor do título */
}
.container {
  max-width: 800px;
  margin: auto;
}
.container p {
  text-align: justify;
  line-height: 1.6;
}

.container p strong {
  color: #388e3c; /* Cor do texto em negrito */
}


/* LISTA DE RECURSOS */
.container ul {
  margin: 20px 0;
  padding-left: 20px;
}

.container ul li {
  margin-bottom: 10px;
  
}

/* BOTÕES DA HOME */
.botoes-home {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.botao-link {
  display: block;
  background: #067214;
  color: white;
  padding: 14px;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.botao-link:hover {
  background: #02bb2a;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #e6f0e6;
  border-radius: 10px;
  margin-top: 20px;
}
/* MODO ESCURO */
body.dark .botao-link {
  background: #00635e;
  transition: background 0.3s;
}

body.dark .botao-link:hover {
  background: #004b47;
}



