/* Estilo base */
.navbar {
  background-color: #2e7d32;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.menu-toggle {
  background: none;
  border: none;
  color: white;
  font-size: 28px;
  display: none; /* Só aparece em telas pequenas */
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.3s;
}

.nav-links a:hover {
  background-color: #1b5e20;
}

.nav-links a.ativo {
  background-color: rgba(140, 253, 219, 0.1);
  color: #31ec2a;
}
/* Responsividade */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #2e7d32;
    flex-direction: column;
    width: 100%;
    text-align: right;
    display: none;
    padding: 10px 20px;
  }

  .nav-links a.ativo {
    background-color: rgba(0, 150, 136, 0.1);
    color: #009688;
    font-weight: bold;
    border-radius: 4px;
    padding: 6px 12px;
    transition: background 0.3s, color 0.3s;
  }
  

  .nav-links li {
    margin-bottom: 10px;
  }
}
