/* NAVBAR GERAL */
.navbar {
  background-color: #2e7d32;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
  z-index: 1000;
}

.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

/* BOTÃO HAMBURGUER COM ÍCONES SVG */
.menu-toggle {
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.menu-toggle svg {
  width: 40px;
  height: 40px;
  fill: white;
  transition: transform 0.3s ease;
}
.menu-toggle:hover svg {
  transform: scale(1.1);
}

.menu-toggle:focus svg {
  transform: scale(1.1);
}
.menu-toggle:active svg {
  transform: scale(0.9);
}

/* ESCONDE BOTÃO EM TELAS MAIORES */
@media (min-width: 802px) {
  .menu-toggle {
    display: none;
  }
}

/* LINKS DESKTOP */
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.nav-links li {
  display: flex;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.nav-links a:hover {
  background-color: #1b5e20;
}

.nav-links a.ativo {
  background-color: rgba(140, 253, 219, 0.1);
  color: #31ec2a;
}

.dark-toggle {
  background: transparent;
  border: 2px solid #f5f5f5;
  color: #fcfcfc;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}

/* RESPONSIVO */
@media (max-width: 800px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: -100%;
    flex-direction: column;
    background-color: #2e7d32;
    width: 70%;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: right 0.3s ease, opacity 0.3s ease;
  }

  .nav-links.active {
    right: 0;
    opacity: 1;
  }

  .nav-links li {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .dark-toggle {
    align-self: flex-end;
  }
}
