body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #d0f0c0, #ffffff); /* Um verde mais forte */
    color: #333333; /* Cor do texto */
    padding: 20px;
}
header, footer {
    text-align: center;
    padding: 10px;
}
header {
    background-color: #c8e6c9;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
header h1 {
    margin: 0;
    font-size: 2em;
    color: #1b5e20;
}
header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #388e3c;
}
footer {
    background-color: #c8e6c9;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}
h1, h2 {
    color: #1b5e20; /* Cor do título */
}
.container {
    max-width: 800px;
    margin: auto;
}
p {
    text-align: justify;
    line-height: 1.6;
}
p strong {
    color: #388e3c; /* Cor do texto em negrito */
}