body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #fffbfb;
    color: #333333; /* Cor do texto */
    padding: 20px;
}
header, footer {
    text-align: center;}
header {
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
header h1 {
    text-align: center;
    padding: 1px;
    margin: 5;
    font-size: 3em;
    color: #047a0c;
}
header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #388e3c;
}
footer {
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
}
h1, h2 {
    color: #1b5e20; /* Cor do título */
}
.container {
    max-width: 800px;
    margin: auto;
    
}
.container p {
    text-align: justify;
    line-height: 1.6;
  }
  
  .container p strong {
    color: #388e3c; /* Cor do texto em negrito */
  }

  footer  {
    text-align: center;
    padding: 10px;
    background-color: #e6f0e7;
    border-radius: 10px;
    margin-top: 20px;
  }

  fooster p {
    text-align: center;
    line-height: 1.6;
}