body.dark {
  background: #2a2a2a;
  color: #f0f0f0;
}

body.dark .container {
  background: #2a2a2a;
  box-shadow: none;
}

body.dark h1 {
  color: #00978f  !important;
}

body.dark label {
  color: #ffffff;
}

body.dark input,
body.dark select {
  background: #333;
  color: #fff;
  border: 1px solid #555;
}

body.dark #resultadoConta {
  background: #333;
  color: #cde7e5;
  border: 1px solid #74d8d3;
}

body.dark .navbar {
  background-color: #1b1b1b !important;
}

body.dark .navbar-brand {
  color: #74d8d3 !important;
}

body.dark .navbar .nav-link {
  color: #969595 !important;
}

body.dark .navbar .nav-link:hover,
body.dark .navbar .nav-link:focus {
  color: #ffffff !important;
}

body.dark .navbar-nav .nav-link.active{
  color: #00978f !important;
}

body.dark .btn:hover {
  background-color: #333;
}

body.dark .modal-content {
  background-color: #2a2a2a;
  color: #fff;
}

body.dark .form-text {
  color: #65b9b5;
}

/* BOTÃO DE TOGGLE (hover igual index) */
#toggle-dark {
  background: transparent;
  border: none;
  color: #fcfcfc;
  padding: 8px 12px;
  border-radius: 6px;
  margin-bottom: 3px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}
#toggle-dark:hover {
  background: #333;
  color: #fff;
}
body.dark #toggle-dark {
  background-color: transparent;
  border: none;
  color: #cde7e5;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
body.dark #toggle-dark:hover {
  background-color: #333;
  color: #74d8d3;
}

