/* ===========================
   MODO ESCURO GERAL
=========================== */
body.dark {
  background: #2a2a2a;
  color: #f0f0f0;
  transition: background 0.3s, color 0.3s;
}

body.dark .container {
  background: #2a2a2a;
  box-shadow: none;
  transition: background 0.3s;
}

body.dark h1 {
  color: #00978f  !important;
}

body.dark .container p strong {
  color: #74d8d3;
}

/* ===========================
   FORMULÁRIOS
=========================== */
body.dark label {
  color: #ffffff;
}

body.dark input,
body.dark select {
  background: #333;
  color: #fff;
  border: 1px solid #555;
  transition: background 0.3s, color 0.3s, border 0.3s;
}

/* ===========================
   BOTÕES
=========================== */
body.dark button,
body.dark .btn {
  color: #fff;
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

body.dark button:hover,
body.dark .btn:hover {
  background: #333;
}

/* ===========================
   RESULTADO
=========================== */
body.dark #resultado,
body.dark #resultadoConta {
  margin-top: 20px;
  background: #333;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #74d8d3;
  color: #cde7e5;
  font-size: 16px;
}

/* ===========================
   RODAPÉ
=========================== */
body.dark footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  border-radius: 10px;
  margin-top: 50px;
  transition: background 0.3s;
}

/* ===========================
   NAVBAR
=========================== */
body.dark .navbar {
  background-color: #1b1b1b !important;
  border-color: #333;
  transition: background 0.3s;
}

body.dark .navbar .nav-link {
  color: #fdfcfc !important;
}

body.dark .navbar-nav .nav-link.active {
  color: #00978f !important;
}



body.dark .nav-links {
  background-color: #1b1b1b;
}

body.dark .nav-links a {
  color: #cde7e5;
}

body.dark .navbar .nav-link {
  color: #969595 !important;
}

body.dark .navbar .nav-link:hover,
body.dark .navbar .nav-link:focus {
  color: #ffffff !important;
}

body.dark .nav-links a.ativo {
  background-color: rgba(116, 216, 211, 0.1);
  color: #74d8d3;
}

/* ===========================
   ALERTA PERSONALIZADO
=========================== */
body.dark .alerta-personalizado {
  background-color: #333;
  color: #cde7e5;
  border: 1px solid #74d8d3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

body.dark .alerta-personalizado h2 {
  color: #74d8d3;
}

body.dark .alerta-personalizado p {
  color: #cde7e5;
}

body.dark .alerta-personalizado button {
  background-color: #74d8d3;
  color: #000;
}

body.dark .alerta-personalizado button:hover {
  background-color: #cde7e5;
  color: #000;
}

/* ===========================
   TEXTO AUXILIAR
=========================== */
body.dark .form-text {
  color: #65b9b5;
}

/* ===========================
   BOTÃO DE TOGGLE
=========================== */
#toggle-dark {
  background: transparent;
  border: none;
  color: #fcfcfc;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}

#toggle-dark:hover {
  background: #333;
  color: #ffffff;
}

body.dark #toggle-dark {
  color: #cde7e5;
}

body.dark #toggle-dark:hover {
  background-color: #333;
  color: #74d8d3;
}
