/* BOTÃO DE TOGGLE */
#toggle-dark {
  background: transparent;
  border: none;
  color: #fcfcfc;
  padding: 8px 12px;
  border-radius: 6px;
  margin-bottom: 3px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}

#toggle-dark:hover {
  background: #333;
  color: #ffffff;

}

body.dark #toggle-dark {
  background-color: transparent;
  border: none;
  color: #cde7e5;
  padding: 10px 16px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

body.dark #toggle-dark:hover {
  background-color: #333;
  color: #74d8d3;
}


/* MODO ESCURO: GERAL */
body.dark {
  background: #2a2a2a; /* mesma cor do fundo do formulário */
  color: #f0f0f0;
}

body.dark .container {
  background: #2a2a2a;
  box-shadow: none; /* Remove a sombra do formulário */
}

body.dark h1 {
  text-align: center;
    padding: 1px;
    margin: 5;
    font-size: 3em;
    color: #00978f  !important;
}

body.dark .container h2 {
  color: #00978f  !important;
  margin-top: 20px;
}
body.dark .container p strong {
  color: #74d8d3; /* Cor do texto em negrito */
}


/* MODO ESCURO: FORMULÁRIOS */
body.dark label {
  color: #ffffff;
}

body.dark input,
body.dark select {
  background: #333;
  color: #fff;
  border: 1px solid #555;
}

body.dark button:hover {
  background: #333;
}

/* MODO ESCURO: RESULTADO */
body.dark #resultado {
  margin-top: 20px;
  background: #333;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cde7e5;
  color: #cde7e5;
  font-size: 16px;
}

body.dark footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
  margin-top: 50px;
}

/* MODO ESCURO: NAVEGAÇÃO */
body.dark .navbar {
    background-color: #1b1b1b !important;
    border-color: #333;
    transition: background 0.3s;
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
}

body.dark .logo {
  color: #74d8d3; /* Cor do texto do logo no modo escuro */
}

body.dark .menu-toggle {
  color: #74d8d3; /* Cor do botão de menu no modo escuro */
}

body.dark .navbar-brand {
  color: #74d8d3 !important;
}

body.dark .nav-links a {
  color: #cde7e5; /* Cor dos links no modo escuro */
}

body.dark .nav-links a:hover {
  background-color: #00978f; /* Cor de fundo ao passar o mouse no modo escuro */
}

body.dark .navbar-nav .nav-link.active {
    color: #00978f !important;
}

body.dark .bg-light { /* final codigo */
  background-color: #2a2a2a !important;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}